.table {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    max-width: 800px;
    margin: 20px auto;
    word-break: break-all;
}

.table th {
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;
}

.table td {
    padding-top: 15px;
    text-align: start;
}

.table-button {
    align-items: center;
    width: 5%;
}

.user-btn {
    cursor: pointer;
    transition: all 100ms;
    width: 5%;
}

.user-btn:active {
   color: rgb(106, 106, 106);
}